


<%= gmaps("map_options" => { "detect_location" => true, "center_on_user" => true, "zoom" => 6},"markers" => { "data" => @json}) %>
 
 <% content_for :scripts do %>
        <script type="text/javascript">

setInterval( function(){
 Gmaps.map.createMarker({
   Lat: Gmaps.map.userLocation.lat(),
   Lng: Gmaps.map.userLocation.lng(), 
   rich_marker: null, 
   marker_picture: "",
   marker_width: 200,
   marker_height: 100,
   marker_anchor: [ 5, 10],
   shadow_anchor: null,
   shadow_picture: null,
   shadow_width: null,
   shadow_height: null,
   marker_title: "Η Θέση σας"
   
   })},1000)
           </script>

           <script type="text/javascript">
           base_url = "/locations/";
google.maps.event.addListener(marker, 'click', function(){
   window.location(base_url + marker.id);
   });
   </script>
<% end %>

<table>
  <tr>
    <th>Όνομα</th>
    <th>Διεύθυνση</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.address %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
<ul>
<% for location in @location.nearbys %>
<li> <%= link_to location.address , location %> 
</li>
<% end %>
</ul>
