
    <div class="three columns">
      <div class ="sidebar">
      <h1>MAIN CONTROL </h1>
      <%= search_form_for @search do |f| %>
      <div class = "field">
        <%= f.label :address_cont, "Perioxi" %>
        <%= f.text_field :address_cont %>
      </div>
      <div class ="actions">
        <%= f.submit "Αναζήτηση" %>
      </div>
      <% end %>
    </div>
  </div>
   
  


<%= gmaps("map_options" => { "detect_location" => true, "center_on_user" => true, "zoom" => 13},"markers" => { "data" => @json}) %>
 
 <% content_for :scripts do %>
        <script type="text/javascript">

setInterval( function(){
 Gmaps.map.createMarker({
   Lat: Gmaps.map.userLocation.lat(),
   Lng: Gmaps.map.userLocation.lng(), 
   rich_marker: null, 
   marker_picture: "",
   marker_width: 200,
   marker_height: 100,
   marker_anchor: [ 5, 10],
   shadow_anchor: null,
   shadow_picture: null,
   shadow_width: null,
   shadow_height: null,
   marker_title: "Η Θέση σας" 
   
   })},5000)
           </script>

           <script type="text/javascript">
           base_url = "/locations/";
google.maps.event.addListener(marker, 'click', function(){
   window.location(base_url + marker.id);
   });
   </script>
<% end %>
<h3>Η πόλη σας είναι <%= @result.address %> ,<%= @result.state %>, <%= @result.city %></h3>
<h3>Κοντινοί σας γυναικολόγοι </h3>
<ul>
  <% for location in Location.near( "@city", 4) do %>
  <li> <%= location.address %>, <%= location.name %>, <%= location.distance.round(location.distance,2) %> miles </li>
  <% end %>
</ul>

<table>
  <tr>
    <th>Όνομα</th>
    <th>Διεύθυνση</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.address %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>


